<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="conect_description">
  <link
    name="tool_base_link">
    <inertial>
      <origin
        xyz="-0.000222405740733957 -0.000481035601624011 0.0689230138059816"
        rpy="0 0 0" />
      <mass
        value="0.116045321966342" />
      <inertia
        ixx="0.000164904816177466"
        ixy="2.02488130216797E-07"
        ixz="1.50577434202425E-06"
        iyy="0.000202510715131649"
        iyz="8.60308417309894E-06"
        izz="5.69762169244189E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://conect_description/meshes/tool_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://conect_description/meshes/tool_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="tool_end_link">
    <inertial>
      <origin
        xyz="8.79459612690391E-05 -8.1632458962142E-05 -0.00099852848210466"
        rpy="0 0 0" />
      <mass
        value="8.00000000000001E-06" />
      <inertia
        ixx="5.33333333333336E-12"
        ixy="1.46216601377879E-27"
        ixz="1.41756869850412E-27"
        iyy="5.33333333333336E-12"
        iyz="-3.92889708655019E-28"
        izz="5.33333333333334E-12" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://conect_description/meshes/tool_end_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://conect_description/meshes/tool_end_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="conect"
    type="fixed">
    <origin
      xyz="-0.00272826464929472 -0.00102217054955704 0.173424918708578"
      rpy="0 0 0" />
    <parent
      link="tool_base_link" />
    <child
      link="tool_end_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>