<launch>
    <!-- RM-63 control -->
    <include file="$(find rm_control)/launch/rm_63_control.launch"/>

    <!-- RM-65 Driver -->
    <include file="$(find rm_driver)/launch/rm_63_driver.launch">
    <arg name="Arm_IP" value="192.168.10.18" />  <!-- 使用默认的IP网段 -->
    <arg name="Udp_IP" value="192.168.10.10" />
    </include>

    <!-- Moveit -->
    <include file="$(find rml_63_6f_moveit_config)/launch/demo_realrobot.launch">
        <arg name="use_rviz" value="false" />
        <!-- <arg name="use_rviz" value="true" /> -->
    </include>

    <!-- Camera  -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="align_depth" value="true" />
    </include>
    <!-- Camera L515设置短距离工作模式 rosrun rqt_reconfigure rqt_reconfigure。 realsense-viewer低于2.50.0才支持 -->

    <!-- gripper -->
    <!-- <include file="$(find dh_hand_driver)/launch/dh_hand_controller_ur3.launch" />  -->

    <!-- calibrate-TF -->
    <include file="$(find easy_handeye)/launch/publish.launch" >
        <arg name="eye_on_hand" value="true" />
        <arg name="namespace_prefix" value="rml63_eyeonhand_calibration" />
        <!-- <arg name="robot_base_frame" value="base_link" /> -->
        <arg name="tracking_base_frame" value="camera_link" />
        <arg name="calibration_file" value="$(find easy_handeye)/rml63_eyeonhand_calibration_eye_on_hand.yaml" />
    </include>

</launch>


